.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
  grid-gap: 16px;
}

.cards > ul > li {
  /* border: 1px solid var(--dark-color); */
  background-color: var(--background-color)
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

/* My code */
.cards .cards-card-body {
  position:relative;
}

.cards-card-body h4 {
  position: absolute;
  top: 0;
  padding: 8px 16px;
  color: var(--text-white);
  background-color: var(--background-black);
  font-size: 15px;
  margin: 0;
}

.cards .cards-card-body .button-container a.button{
  width:100%;
  border-radius:0;
  color: var(--background-black);
  background-color: var(--light-color);
}
