footer {
  padding: 2rem;
  background-color: var(--background-black);
  font-size: var(--type-body-xs-size);
  color: var(--text-white);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
  text-align:center;
}
